<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="post">

	<div id="test2">
	<th:block th:if="${user != null && posts != null}">
	
	<th:block th:each="post : ${posts}">
	<th:block th:if="${user.id == post.user.id}">
	
		<div class="row mt-5">
			<div class="col s1 pr-0 circle">
				<a href="#"><img class="responsive-img circle"
					th:src="@{${user.profilePicture}}" alt="" /></a>
			</div>
			<div class="col s11">
				<a href="#">
					<p class="m-0">
						[[${user.fname}]] &nbsp; [[${user.lname}]] <span><i
							class="material-icons vertical-align-bottom">access_time</i> <span
								th:attr="data-livestamp=(${post.CreatedDate})"></span></span>
					</p>
				</a>
				<div class="row">
					<div class="col s12">
						<div class="card card-border z-depth-2">
							<div class="card-image">
								<th:block th:each="postImage : ${post.postImages}">
								<div class="card-image">
									<div class="carousel carousel-slider">
										<img class="responsive-img " th:src="@{${postImage}}"
                        alt="" />
									</div>
								</div>
							</th:block>
							</div>
							
					</div>
				</div>
			</div>
		</div>
		</div>
	</th:block>	
	</th:block>	
	</th:block>
	<th:block th:if="${posts == null}">
			
			<h3>No posts Yet</h3>
	
	</th:block>	
</div>


</th:block>