<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="post">
	
	<div id="test2">
													<div class="row mt-5">
														<div class="col s1 pr-0 circle">
															<a href="#"><img class="responsive-img circle"
																src="../../../app-assets/images/user/12.jpg"
																th:src="@{/app-assets/images/user/12.jpg}" alt="" /></a>
														</div>
														<div class="col s11">
															<a href="#">
																<p class="m-0">
																	Suzanne Martin <span><i
																		class="material-icons vertical-align-bottom">access_time</i>
																		1 days</span>
																</p>
															</a>
															<div class="row">
																<div class="col s12">
																	<div class="card card-border z-depth-2">
																		<div class="card-image">
																			<img
																				src="../../../app-assets/images/gallery/post-1.png"
																				alt=""
																				th:src="@{/app-assets/images/gallery/post-1.png}" />
																		</div>
																		<div class="card-content">
																			<h6 class="font-weight-900 text-uppercase">
																				<a href="#">Designing Services</a>
																			</h6>
																			<p>UI/UX & Graphics Design</p>
																		</div>
																	</div>
																	<div class="social-icon">
																		<span><i
																			class="material-icons vertical-align-bottom mr-1">favorite_border</i>90</span>
																		<i
																			class="material-icons vertical-align-bottom ml-3 mr-1">chat_bubble_outline</i>
																		15 <span><i
																			class="material-icons vertical-align-bottom ml-3 mr-1">redo</i>
																			6</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<hr class="mt-5">
													<div class="row mt-5">
														<div class="col s1 pr-0 circle">
															<a href="#"><img class="responsive-img circle"
																src="../../../app-assets/images/user/12.jpg"
																th:src="@{/app-assets/images/user/12.jpg}" alt=""></a>
														</div>
														<div class="col s11">
															<a href="#">
																<p class="m-0">
																	Suzanne Martin <span><i
																		class="material-icons vertical-align-bottom">access_time</i>
																		5 days</span>
																</p>
															</a>
															<div class="row">
																<div class="col s12">
																	<div class="card card-border z-depth-2">
																		<div class="card-image">
																			<img th:src="@{/app-assets/images/gallery/post-2.png}"
																				src="../../../app-assets/images/gallery/post-2.png"
																				alt="" />
																		</div>
																		<div class="card-content">
																			<h6 class="font-weight-900 text-uppercase">
																				<a href="#">Australia office hours</a>
																			</h6>
																			<p>Working so hard</p>
																		</div>
																	</div>
																	<div class="social-icon">
																		<span><i
																			class="material-icons vertical-align-bottom mr-1">favorite_border</i>90</span>
																		<i
																			class="material-icons vertical-align-bottom ml-3 mr-1">chat_bubble_outline</i>
																		15 <span><i
																			class="material-icons vertical-align-bottom ml-3 mr-1">redo</i>
																			6</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<hr class="mt-5">
													<div class="row mt-5">
														<div class="col s1 pr-0 circle">
															<a href="#"><img class="responsive-img circle"
																src="../../../app-assets/images/user/7.jpg"
																th:src="@{/app-assets/images/user/7.jpg}" alt=""></a>
														</div>
														<div class="col s11">
															<a href="#">
																<p class="m-0">
																	Luiza Ales <span><i
																		class="material-icons vertical-align-bottom">access_time</i>
																		10 days</span>
																</p>
															</a>
															<div class="row">
																<div class="col s12">
																	<div class="card card-border z-depth-2">
																		<div class="card-content">
																			<div class="row">
																				<div class="col s2 pr-0 circle">
																					<a href="#"><img class="responsive-img circle"
																						src="../../../app-assets/images/user/1.jpg"
																						th:src="@{/app-assets/images/user/1.jpg}" alt=""></a>
																				</div>
																				<div class="col s10">
																					<a href="#">
																						<h6>Mario Mendez</h6>
																					</a>
																					<p class="m-0 amber-text">
																						<span class="material-icons star-width">star_rate</span>
																						<span class="material-icons star-width">star_rate</span>
																						<span class="material-icons star-width">star_rate</span>
																						<span class="material-icons star-width">star_rate</span>
																						<span class="material-icons star-width">star_rate</span>
																					</p>
																				</div>
																			</div>
																			<hr>
																			<h6 class="font-weight-900 text-uppercase">
																				<a href="#">Senior Developer</a>
																			</h6>
																			<p>When I hear “Senior Developer” I think of
																				someone who has mastered ... When looking at
																				software engineers I see 4 tiers of skills:
																				Luminary, Senior.</p>
																		</div>
																	</div>
																	<div class="social-icon">
																		<span><i
																			class="material-icons vertical-align-bottom mr-1">favorite_border</i>90</span>
																		<i
																			class="material-icons vertical-align-bottom ml-3 mr-1">chat_bubble_outline</i>
																		15 <span><i
																			class="material-icons vertical-align-bottom ml-3 mr-1">redo</i>
																			6</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
	
	
</th:block>