<th:block xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security" th:fragment="floatButton">

	<div style="bottom: 50px; right: 19px;"
		class="fixed-action-btn direction-top">
		<a
			class="pulse btn-floating btn-large gradient-45deg-light-blue-cyan gradient-shadow waves-purple pulse-style-one "><i
			class="material-icons">edit</i></a>
		<ul>
			<li><a href="css-helpers.html" class="btn-floating waves-purple blue tooltipped" data-position="left" data-tooltip="Create Blog"><i class="material-icons">help_outline</i></a></li>
			<li><a href="cards-extended.html" class="btn-floating green waves-purple tooltipped" data-position="left" data-tooltip="Create Forum"><i class="material-icons">widgets</i></a></li>
			<li><a href="app-calendar.html" class="btn-floating amber waves-purple tooltipped" data-position="left" data-tooltip="Create Event"><i class="material-icons">today</i></a></li>
			<li><a href="app-email.html" class="btn-floating waves-purple red tooltipped" data-position="left" data-tooltip="Create Job"><i class="material-icons">mail_outline</i></a></li>
		</ul>
	</div>
</th:block>