	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"/>
    
    
    <link rel="apple-touch-icon" href="../static/app-assets/images/favicon/apple-touch-icon-152x152.png" th:href="@{/app-assets/images/favicon/apple-touch-icon-152x152.png}"/>
    <link rel="shortcut icon" type="image/x-icon" href="../static/app-assets/images/favicon/favicon-32x32.png" th:href="@{/app-assets/images/favicon/favicon-32x32.png}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    
    
   