<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sending Email with Thymeleaf HTML Template Example</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

 <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>

<!-- use the font -->
<style>
body {
	 font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	color:white;
}

.btn {
			padding: 10px;
			color:white;
            border-radius: 5rem;
            text-decoration:none;
            background-color:#bf360c;
            background: linear-gradient(45deg, #bf360c, #f57c00);
	
}
p,h3{
color: white;
}

</style>
</head>
<body style="margin: 0; padding: 0;"  >

	<table align="center" border="0" cellpadding="0" cellspacing="0"
		width="600" bgcolor="#8e24aa" style="border-collapse: collapse;padding: 10px 0px 10px 0px;background: linear-gradient(45deg, #8e24aa, #ff6e40)">
		<tr>
			<td align="center" style="padding: 40px 10px 30px 10px;" >
				<h3 style="color: white">Mate Club</h3>
			</td>
		</tr>
		<tr>
			<td style="padding: 40px 30px 40px 30px;color:white;">
				<p ><h3 style="color:white;">Dear [[${name}]],</h3></p>
				<p style="color: white;text-align: center;">
					Password reset link has been sent to your email.Click below to get the link
					<br>
					<br>
					<div style="text-align:center;">
					<b><a
					th:href="@{${appUrl}}" class="btn" style="color: white;">Click Here</a></b>
					<br>
					<br>
						<p ><h3>Thanks.</h3></p>
					</div>
				</p>
				
				
			</td>
		</tr>
		<tr style="color: white;">
			<td  style="padding: 30px 30px 30px 30px;">
				<p><h3>[[${company}]]</h3></p>
				<p>
					<h4><span th:text="${#dates.format(subscriptionDate,'MMM dd,yyyy')}"></span></h4>
				</p>
				<p>
					<h5>Note : Please do not share your password with anyone.</h5>
				</p>
			</td>
		</tr>
	</table>

</body>
</html>