<!DOCTYPE html>

<html class="loading" lang="en" data-textdirection="ltr"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/PageLayout}">

<head>

<title>User Forgot Password</title>

</head>
<!-- END: Head-->
<body
	class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu 1-column forgot-bg  blank-page blank-page"
	data-open="click" data-menu="vertical-modern-menu" data-col="1-column">
	<div class="row" layout:fragment="content">
		<div class="col s12">
			<div class="container">
				<div id="forgot-password" class="row">
					<div
						class="col s12 m6 l4 z-depth-4 offset-m4 card-panel border-radius-6 forgot-card bg-opacity-8">
						<form class="login-form" th:action="@{/user/forgot-password}" method="post">
							<div class="row">
								<div class="input-field col s12">
									<h5 class="ml-4">Forgot Password</h5>
									<p class="ml-4">We get it, stuff happens. Just enter your
										email address below and we'll send you a link to reset your
										password!</p>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<i class="material-icons prefix pt-2">mail_outline</i> <input
										id="email" name="email" type="email"> <label
										for="email" class="center-align">Email</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									<input type="submit" value="Send Reset Link"
										class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12 mb-1">

								</div>
							</div>
							<div class="row">
								<div class="input-field col s6 m6 l6">
									<p class="margin medium-small">
										<a th:href="@{/dashboard/login}">Login</a>
									</p>
								</div>
								<div class="input-field col s6 m6 l6">
									<p class="margin right-align medium-small">
										<a th:href="@{/dashboard/register}">Register</a>
									</p>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>


</html>